<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bills">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.user.bills.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name="com.example.user.bills.WelcomeActivity"-->
            <!--android:label="@string/app_name">-->
        <!--</activity>-->

        <activity
            android:name="com.example.user.bills.EventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".WelcomeActivity">
        </activity>

        <activity
            android:name="com.example.user.bills.UserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".EventActivity">
        </activity>

        <activity
            android:name=".OrderActivity"
            android:label="@string/event_activity"
            android:parentActivityName=".UserActivity">
        </activity>

        <activity
            android:name=".DisplayOrderActivity"
            android:label="@string/event_activity">

        </activity>

    </application>



</manifest>
